<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Fitsum &nbsp;<span>Shop</span></h3>

        <p class="footer-links">
            <a routerLink="/">Home</a>
            ·
            <a routerLink="about-us">About</a>
            ·
            <a routerLink="contact-us">Contact</a>
            ·
            <a routerLink="buisness">Business with us</a>
            ·
        </p>
        
        <p class="footer-company-name">Fitsum Shop © 2022</p>
     

    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Gerji</span> Addis Ababa, Ethiopia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+251-9-37650740</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="fitsumtadele19@gmail.com">fitsumtadele19@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Fitsum Shop is Shop where you can find all types of kitchen wares such as Cooker ,Mixer ,blender ,Iron, Gas Stove
        </p>


        <div class="footer-icons">
            <i class="fa fa-facebook"></i>
            <a href="#"><i class="fab fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>