<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <div class="address">
          <p><span class="fas fa-map-marker-alt	"></span> &nbsp; Gerji, Addis Ababa</p>
          
          <p>Addis Ababa, Ethiopia</p>
          
        </div>
      
        <p class="contact"><span class="fa fa-phone"></span> +251-9-37650740</p>
        <p><span class="fa fa-envelope"></span> fitsumtadele19@gmail.com</p>
       
      </div>
      
      <div class="col-sm-7 slideanim slide">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-primary pull-right" type="submit">Send</button>
          </div>
        </div>
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.2329136930905!2d38.800226360542474!3d9.002580644718343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b853d49cc9c19%3A0xe1ecd033f67e2580!2zOcKwMDAnMDkuNiJOIDM4wrA0OCcwMy4xIkU!5e0!3m2!1sen!2sus!4v1653462715482!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

    
  </div>


  <app-get-quote></app-get-quote>